<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, required: true  %></div>
  
  <div><%= f.label :description %><br />
  <%= f.text_field :description, required: true  %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, required: true  %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div><%= f.label :pwd_unlock %><br />
  <%= f.password_field :pwd_unlock, required: true  %></div>
  
  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  <div><%= f.label :phone %><br />
    <%= f.telephone_field :phone, autocomplete: "on", required: false  %></div>
    
  <div><%= f.label :logo %><br />
    <%= file_field 'bar', 'logo' %></div>
    
	<%= f.fields_for resource.address do |a| %>
         <p> Endereço: </p>
         <div><%= f.label :street %><br />
         	<%= a.text_field :street, required: true  %> Nr.: <%= a.text_field :number, required: true  %> Comp.: <%= a.text_field :complement %></div>
  
         <div><%= f.label :neighborhood %><br />
         	<%= a.text_field :neighborhood, required: true  %></div>
         <div><%= f.label :zip_code %><br />
         	<%= a.text_field :zip_code, required: true  %></div>
         <div><%= f.label :city %><br />
         	<%= a.text_field :city, required: true  %></div>
         <div><%= f.label :state %><br />
         	<%= a.text_field :state, required: true  %></div>

	<% end %>


  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

