<h2>Sign up Bar</h2>


<%= form_for(resource, as: resource_name, url: bar_registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true, required: true  %></div>
  
  <div><%= f.label :description %><br />
  <%= f.text_field :description, required: true  %></div>

  <div><%= f.label :pwd_unlock %><br />
  <%= f.password_field :pwd_unlock, required: true  %></div>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, required: true  %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", required: true  %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", required: true  %></div>


  <div><%= f.label :phone %><br />
    <%= f.telephone_field :phone, autocomplete: "on", required: false  %></div>
    
  <div><%= f.label :logo %><br />
    <%= file_field 'bar', 'logo' %></div>
    
	<%= f.fields_for :address do |a| %>
         <p> Endereço: </p>
         <div><%= f.label :street %><br />
         	<%= a.text_field :street, required: true  %> Nr.: <%= a.text_field :number, required: true  %> Comp.: <%= a.text_field :complement %></div>
  
         <div><%= f.label :neighborhood %><br />
         	<%= a.text_field :neighborhood, required: true  %></div>
         <div><%= f.label :zip_code %><br />
         	<%= a.text_field :zip_code, required: true  %></div>
         <div><%= f.label :city %><br />
         	<%= a.text_field :city, required: true  %></div>
         <div><%= f.label :state %><br />
         	<%= a.text_field :state, required: true  %></div>

	<% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

