<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<% 		
			if bar_signed_in? then
%>
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/admin">Admin Chopps and Beers</a>
				</div>
				<!-- Top Menu Items -->
				<ul class="nav navbar-right top-nav">
					
					<li class="dropdown">
					
<% 		
						if bar_signed_in? then
%>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <John Smith><%= image_tag(current_bar.logo, style: "max-height: 50px;", class: "img-thumbnail")%><%=current_bar.name%> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									 <%= link_to 'Visualizar', admin_bar_path(current_bar)%>
								</li>
								<li>
									 <%= link_to 'Editar', edit_bar_registration_path() %>
								</li>
								<li>
									 <%= link_to 'Logout', destroy_bar_session_path(), method: :delete %>
								</li>
							</ul>
<%
						end
%>
					</li>
				</ul>
				
				<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav">
						<li class="active">
							<a href="javascript:;" data-toggle="collapse" data-target="#evento-collapse"><i class="fa fa-fw fa-arrows-v"></i> Relatórios <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="evento-collapse" class="collapse">
	                            <li>
	                                x
	                            </li>
	                            <li>
	                            	y
	                            </li>
	                        </ul>
						</li>
						<li class="active">
							<a href="javascript:;" data-toggle="collapse" data-target="#categoria-collapse"><i class="fa fa-fw fa-arrows-v"></i> Pacotes <i class="fa fa-fw fa-caret-down"></i></a>
	                        <ul id="categoria-collapse" class="collapse">
	                            <li>
	                               <%= link_to 'Lista', admin_bar_package_index_path(current_bar) %>	              
	                            </li>
	                            <li>
	                            	<%= link_to 'Novo', new_admin_bar_package_path(current_bar) %>	                            	
	                            </li>
	                        </ul>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
				
<%
			 	end 
%>
</nav>
