<h2>Login</h2>

<%= form_for(resource, as: resource_name, url: bar_session_path()) do |f| %>

<div class="form-group">
	<%= f.label :email %>
	<%= f.text_field :email, autofocus: true, required: true, size: 80, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :password %>
	<%= f.password_field :password, autocomplete: "off", required: true, size: 80, class: "form-control" %>
</div>


  <% if devise_mapping.rememberable? -%>
    <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

<div class="form-group">
	<%= f.submit "Entrar" %>
</div>
<% end %>

<%= render "admin/bars/shared/links" %>
