<h2>Add Pacote</h2>

<%= form_for([:admin, :bars, @package_bars], :html => {:multipart => true}) do |f| %>

<div>
	<%= f.label :mark %>
	<br />
	<% mark_array = MainYetting.CHOPPS_MARK { |mark| [mark, mark] } %>
	<%= f.select(:mark, options_for_select(mark_array, f.object.mark)) %>
</div>

<div>
	<%= f.label :value %>
	<br />
	<%= f.number_field :value, required: true %>
</div>
<div>
	<%= f.label :original_value %>
	<br />
	<%= f.number_field :original_value, required: true %>
</div>
<div>
	<%= f.label :qtde %>
	<br />
	<% qtde_array = MainYetting.CHOPPS_QTDE { |qtde| [qtde, qtde] } %>
	<%= f.select(:qtde, options_for_select(qtde_array, f.object.qtde)) %>
</div>

<div>
	<%= f.label :type %>
	<br />
	<% type_array = MainYetting.CHOPPS_TYPE.map { |t| [t["desc"], t["id"]] } %>
	<%= f.select(:type, options_for_select(type_array, f.object.type)) %>
</div>

<div>
	<%= f.label :expire %>
	<br />
	<%= f.number_field :expire, required: true %>
</div>

<div>
	Imagem
	<br />
	<%= file_field 'bar_package', 'datafile' %>
</div>

<div>
	<%= f.submit "Adicionar" %>
</div>

<% end %>