
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Nome</th>
			<th>Valor</th>
			<th>Pacotes vendidos</th>
			<th>Ativo?</th>
			<th colspan="2">Ação</th>
		</tr>
	</thead>
	<tbody>		
		<% 
		if not @packages.nil? then
			@packages.each do |package| 

			@nome = ""
			@valor = 0
			
			package.package_items.each do |item|
				@nome += "#{item.brand} - #{item.type} (#{item.qtde}) | "
				@valor += item.sale_value
			end
			%>
			<tr>
				<td><%=@nome%></td>
				<td><%=@valor%></td>
				<td><%= package.qtde_vend %></td>
				<td><%=package.active ? "Sim" : "Não"%></td>
				<td>
					<%=package.active ? "Desativar" : "Ativar"%>
					
				</td>
				<td>Detalhes</td>
			</tr>
			<% 
			end 
		end
		%>
	</tbody>
</table>
