<h2>Adicionar Pacote</h2>

<%= form_for @package, url: {action: "create"}, html: {:multipart => true} do |f|%>

	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title">Informações básicas</h3>
	    </div>
	    <div class="panel-body">
			<div class="form-group">
					<%= f.label "Tipo do pacote: "%>
					<% type_array = MainYetting.PACKAGE_TYPE.map { |t| [t["desc"], t["id"]] } %>
					<%= f.select(:type, options_for_select(type_array, f.object.type), { :include_blank=>false }, { :class => 'form-control form-control-no-width' }) %>
			</div>
			
			<div class="form-group">
					<%= f.label "Quantidade de pacotes a serem vendidos: "%>
					<%= f.number_field :qtde, required: false, size: 3, class: "form-control form-control-no-width" %>
			</div>
			
			<div class="form-group">
					<%= f.label "Data limite de venda do pacote: "%>
					<%= f.date_field :dt_sale_limit, class: "form-control form-control-no-width", "data-inputmask" => "'alias': 'date'", size: 10  %>
			</div>
	    </div>
	</div>


	<div class="panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title">Consumo</h3>
	    </div>
	    <div class="panel-body">
			<div class="form-group">
					<%= f.label "Qtde de dias que o usuário poderá consumir o pacote a partir da data de compra: "%>
					<%= f.number_field :qt_days_consumption, required: false, size: 3, class: "form-control form-control-no-width" %>
			</div>

			<div class="form-group">
					<%= f.label "Data limite para consumo do pacote: "%>
					<%= f.date_field :dt_consumption, required: false, size: 3, class: "form-control form-control-no-width" %>
			</div>
	    </div>
	</div>
                        


<div class="form-group">
		<%= f.label "Pacote ativo: "%>
		<%= select_tag(:active, options_for_select([['Sim', 1], ['Não', 0]], 1), { :class => 'form-control form-control-no-width' }) %>
</div>

<div class="form-group">
	<%= f.label "Itens do Pacote: "%>
	<table class="table table-hover table-striped">
	    <thead>
	        <tr>
	            <th>Marca</th>
	            <th>Tipo</th>
	            <th>Quantidade</th>
	            <th>Volume (ml)</th>
	            <th>Valor sem desconto (R$)</th>
	            <th>Valor com desconto (R$)</th>	
	            <th></th>            
	        </tr>
	    </thead>
	    <tbody id="tbody_item">	        
	    </tbody>
	</table>
		<div class='col-lg-12-without-padding'>
		<button type="button" class="btn btn-sm btn-info" onclick="javascript:insert_item()">Adicionar Item</button>
	</div>
</div>
<div class='col-lg-12-without-padding text-center'>
	<%= f.submit "Salvar Pacote", class: "btn btn-lg btn-primary"%>
</div>
	<%
	
	
	@item_input_qtde = nil
	@item_input_volume = nil
	@item_input_marca = nil
	@item_input_tipo = nil
	@item_input_valor_com_desc = nil
	@item_input_valor_sem_desc = nil
	f.fields_for :package_items do |a|

		@item_input_qtde = a.number_field :qtde, name: 'package[package_items][][qtde]', required: true, size: 3, class: "form-control"
		@item_input_volume = a.number_field :volume, name: 'package[package_items][][volume]', required: true, size: 3, class: "form-control"
		@item_input_valor_com_desc = a.number_field :sale_value, name: 'package[package_items][][sale_value]', required: true, size: 3, class: "form-control"
		@item_input_valor_sem_desc = a.number_field :real_value, name: 'package[package_items][][real_value]', required: true, size: 3, class: "form-control"
		@item_input_marca = a.select(:brand, options_from_collection_for_select(Brand.all, :brand, :brand), { :include_blank=>false }, { :class => 'form-control', :name => 'package[package_items][][brand]' })
		@item_input_tipo = a.select(:type, options_from_collection_for_select(TypeStyle.all, :type_style, :type_style), { :include_blank=>false }, { :class => 'form-control', :name => 'package[package_items][][type]' })
		
	end 

%>

<% end %>

<script>
	
	function insert_item() {
		item_id = "item_" + Math.floor((Math.random() * 10000000) + 1);
		td_excluir = "<button class=\"btn btn-xs btn-danger\" type=\"button\" onclick=\"excluir_item('" + item_id + "')\">-</button>";
		new_tr = '<tr id="'+ item_id + '"><td><%=raw @item_input_marca.gsub("\n", ' ').squeeze(' ')%></td><td><%=raw @item_input_tipo.gsub("\n", ' ').squeeze(' ')%></td><td><%=@item_input_qtde%></td><td><%=@item_input_volume%></td><td><%=@item_input_valor_sem_desc%></td><td><%=@item_input_valor_com_desc%></td><td>' + td_excluir +'</td></tr>';
		
		$("#tbody_item").append(new_tr);
	}
	
	function excluir_item(id) {
		$("#"+id).remove();
	}
	
	insert_item();
	
	$(document).ready(function(){
	    $(":input").inputmask();
	});
</script>

