<h2>Pacotes Show</h2>


<table>
  <tr>
    <th>Nome</th>
    <th>Desc</th>
    <th>Valor</th>
    <th>Qtde</th>
  </tr>
 
  <tr>
    <td><%= @package_bars.name %></td>
    <td><%= @package_bars.description %></td>
    <td><%= @package_bars.value %></td>
    <td><%= @package_bars.qtde %></td>

   </tr>
</table>
 
<br>


<%= link_to('Add Pacote', controller: 'admin/bars/package_bars',
        action: 'new') %>



