<h2>Bar Index</h2>



<table border="1">
  <tr>
    <th>Marca</th>
    <th>Tipo</th>
    <th>Valor</th>
    <th>Qtde</th>
    <th>Ações</th>
  </tr>
<% if bar_signed_in? and not current_bar.packages.nil? %>
<% current_bar.packages.each do |package_bars| %>
  <tr>
    <td><%= package_bars.mark %></td>
    <td><%= package_bars.type %></td>
    <td><%= package_bars.value %></td>
    <td><%= package_bars.qtde %></td>
    <td><%= link_to "Show",  admin_bars_package_bar_path(package_bars) %><br>
     	<%= link_to "Edit", edit_admin_bars_package_bar_path(package_bars) %><br>
    	<%= link_to "Remove", admin_bars_package_bar_path(package_bars), method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
<% end %>
</table>
 
<br>


<%= link_to('Add Pacote', controller: 'admin/bars/package_bars',
        action: 'new') %>


