<h2><%= current_bar.name%></h2>

<div class="form-group">
	<label>Email: </label>&nbsp;<%= current_bar.email%>
</div>
<div class="form-group">
	<label>Descrição: </label>&nbsp;<%= current_bar.description%>
</div>
<div class="form-group">
	<label>Telefone: </label>&nbsp;<%= current_bar.phone%>
</div>
<div class="form-group">
	<label>Endereço: </label>&nbsp;<%= current_bar.address.address%>
</div>