<!DOCTYPE html>
<html>
	<head>
		<title>ChoppsAndBeers</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
		
			<!-- CABEÇALHO -->
			<% 
			bar_signed = bar_signed_in?
			if not bar_signed.nil? and bar_signed %>
				<%= render :template => "admin/include_header_auth", :locals => {:titulo => "", :sub_titulo => ""} %>
			<% else %>
				<%= render :template => "admin/include_header_unauth", :locals => {:titulo => "", :sub_titulo => ""} %>
			<% end %>



	        <div id="page-wrapper">
	
	            <div class="container-fluid">

					<%= yield %>
			
	            </div>
	            <!-- /.container-fluid -->

	        </div>
	        <!-- /#page-wrapper -->
		</div>
		<!-- /#page-wrapper -->
	</body>
</html>
