<!DOCTYPE html>
<html>
<head>
  <title>Choops</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<!-- CABEÇALHO -->
<% 
bar_signed = bar_signed_in?
if not bar_signed.nil? and bar_signed %>
	<%= render :template => "admin/include_header_auth", :locals => {:titulo => "", :sub_titulo => ""} %>
<% else %>
	<%= render :template => "admin/include_header_unauth", :locals => {:titulo => "", :sub_titulo => ""} %>
<% end %>

<!-- Conteúdo -->
<%= yield %>

<!-- RODAPE -->

<%if not bar_signed.nil? and bar_signed %>
	<%= render :template => "admin/include_footer_auth" %>
<% else %>
	<%= render :template => "admin/include_footer_unauth" %>
<% end %>

</body>
</html>
