<!DOCTYPE html>
<html>
	<head>
		<title>Choops</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div id="page-wrapper">
			<%= yield %>
		</div>
	</body>
</html>
